

<section class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <%= current_user.name.full %>
            </div>
        </div>
    </div>
</section>