

<section class="container-fluid py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center">
                <!-- <h1>Editing Property</h1> -->
                <h1 class="title">Modifier l'annonce</h1>
            </div>
            <div class="col-lg-10 offset-lg-1">
                <%= render 'form', property: @property %>
            </div>
            <!-- <div class="column is-8 is-offset-2">
                <%#= link_to 'Show', @property %> |
                <%#= link_to 'Back', properties_path %>
            </div> -->
        </div>
    </div>
</section>