<section class="container-fluid py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 text-center">
        <!-- <h1>New Property</h1> -->
        <h1>Déposer votre annonce</h1>
      </div>
      <div class="col-lg-10 offset-lg-1">
        <%= render 'form', property: @property %>
      </div>
      <!-- <div class="col-lg-10 offset-lg-1">
        <%#= link_to 'Back', properties_path, class: "btn btn-light" %>
      </div> -->
    </div>
  </div>
</section>