<% if flash[:notice] %>
<div class="notification is-success" style="margin-bottom: 0px;">
  <button class="delete"></button>
  <p class="has-text-centered">
    <strong><%= notice %></strong>
</p>
</div>
<% elsif flash[:alert] %>
<div class="notification is-danger" style="margin-bottom: 0px;">
  <button class="delete"></button>
  <p class="has-text-centered">
<strong><%= alert %></strong>
</p>
</div>
<% end %>