<footer class="footer" style="background-color: #424242;">
    <div class="container">
        <div class="columns is-multiline">
            <div class="column is-3 content">
                <h2 class="title has-text-white is-4">ROVER HOUSE</h2>
                <p class="has-text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur amet minus voluptatum, dignissimos unde architecto, omnis placeat blanditiis nesciunt, eos sunt eaque eum doloribus voluptatem exercitationem neque cupiditate aliquam. Deleniti.</p>
            </div>
            <div class="column is-3">
                <h5 class="title has-text-white is-4">Liens rapides</h5>
                <ul class="content">
                    <li class="has-text-white">À propos de nous</li>
                    <!-- <li class="text-white py-1">Blog</li> -->
                    <!-- <li class="text-white py-1">Carrière</li> -->
                    <li class="has-text-white">
                        <%= link_to "Contactez nous", contactez_nous_path, class: "has-text-white" %>
                    </li>
                </ul>
            </div>
            <div class="column is-3">
                <h5 class="title has-text-white is-4">Liens utiles</h5>
                <ul class="content">
                    <li class="has-text-white">Accès client</li>
                    <li class="has-text-white">Mes annonces sur <strong class="has-text-white">ROVER HOUSE</strong></li>
                    <li class="has-text-white">Nos services pros</li>
                    <li class="has-text-white">Mentions Légales</li>
                    <li class="has-text-white">Politique de Confidentialité</li>
                </ul>
            </div>
            <div class="column is-3">
                <h5 class="title has-text-white is-4">Contacter nous</h5>
                <address>
                    <ul class="content">
                        <li class="my-3 has-text-white">
                            <p>
                                Collins Street West, Victoria 8007, Australia
                            </p>
                        </li>
                        <li class="my-3 has-text-white">
                            <p>
                                +1 246-345-0695
                            </p>
                        </li>
                        <li class="my-3 has-text-white">
                            <p class="has-text-white">
                                <%= mail_to "rover-house@exemple.com" %>
                            </p>
                        </li>
                    </ul>   
                </address>
            </div>
            <div class="column is-12">
                <hr style="border: 0.3px solid grey">
            </div>           
            <div class="column is-12 has-text-centered">
                <p class="has-text-white">&copy; Copyright 2019 ROVER HOUSE. Tous droits réservés.</p>
            </div>
        </div>
    </div>
</footer>