<div class="columns is-multiline is-marginless" style="background-color: #a1887f ;">
    <div class="container">
        <div class="column is-12 has-text-centered">
            <h4 class="title is-4 has-text-white">Obonnez-vous à la newsletter pour recevoir les dernières offres immobilières.</h4>
            <%= form_with url: root_path, method: :post do |f| %>

            <% end %>
        </div>
    </div>
</div>