<div class="container-fluid bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p class="lead">Entrez votre email pour vous abonner pour recevoir la newsletter mensuelle.</p>
            
            </div>
        </div>
    </div>
</div>