// Les couleur du logo de google
// Rouge : #e94335
// Bleu : #547dbf
// Vert : #34a651
// Jaune : #f7b918

@font-face {
  font-family: 'Lato', sans-serif;
  // font-family: 'Raleway', sans-serif;
  // font-family: 'Montserrat', sans-serif;

  src: url("/fonts/Lato/Lato-Regular.ttf") format("ttf");
  // src: url("/fonts/Raleway/Raleway-Regular.ttf") format("ttf");
  // src: url("/fonts/Montserrat/Montserrat-Regular.ttf") format("ttf");

}

* {
  font-family: 'Lato', sans-serif;
}

*:not(.fas, .fab) {
  font-family: 'Lato', sans-serif !important;
}

// .zone-1 {
//     height: 75vh;
//     background-image: linear-gradient(rgba(0, 30, 10, 0.7), rgba(0, 30, 10, 0.7)), image-url("blank-composition-desk-317355.jpg");
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
// }

// .zone-2 {
//     height: 75vh;
//     background-image: linear-gradient(rgba(0, 80, 100, 0.7), rgba(0, 80, 100, 0.7)), image-url("blogging-business-coding-34580.jpg");
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
// }

// .message:hover {
//     box-shadow: 0 8px 12px 0 rgba(122, 122, 122, 0.2);
//     transition: 0.5s;
// }

// .my-hero-bgi {
//     background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), image-url("bernard-tuck-528096-unsplash.jpg");
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
// }


// #navbarBasicExample > div:nth-child(1) > a.navbar-item.active {
//     border-bottom: 2px solid white !important;
// }

// .banner-contact-us {
//     background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), image-url("business-chair-coffee-265072.jpg");
//     background-position: center;
//     background-size: cover;
//     background-repeat: no-repeat;
// }

// .dropdown:hover .dropdown-menu {
//     display: block;
//     margin-top: 0; // remove the gap so it doesn't close
//  }

//  .ceci:hover {
//     border-left: 2px solid #007bff !important;
//  }

//  transition: all 0.3s ease 0s;
//  
// img.border {
//     border: 2px solid blue !important;
// }

// ul.coo-user li:not(:last-child)::after {
//     content: "|";
//      color: black;
//      margin: 0px 5px;
// }
// 

::selection {
  color: white;
  background-color: #582900;
}

.btn.btn-marron {
  background-color: #795548 !important;
  border-color: transparent;
  color: #fff;

  &:hover {
    background-color: #6d4c41 !important;
    color: white;
  }

  &:focus {
    box-shadow: 0 0 0 0.1rem #6d4c41 !important;
  }
}

body>header>nav>div>div.navbar-brand>a.navbar-item.title.is-marginless:hover {
  color: black;
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: #5d4037 !important;
}

.jumbotron-home-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), image-url("bed-bedroom-ceiling-1864901.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

.carousel-cell {
  width: 100%;
  /* full width */
  height: 50vh;
  /* height of carousel */
  margin-right: 10px;
}

// Pour gérer les 2 arrow de flickity
/* no circle */
.flickity-button {
  background: transparent !important;
}

/* big previous & next buttons */
.flickity-prev-next-button {
  width: 100px;
  height: 100px;
}

/* icon color */
.flickity-button-icon {
  fill: white;
}

/* hide disabled button */
.flickity-button:disabled {
  display: none;
}

.btn-rechercher {
  // margin-top: 2rem;
}

.jumbotron .container .card {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)) !important;
}