<h1>Notifications#contact_us</h1>

<p>
  <%= @greeting %>, find me in app/views/notifications_mailer/contact_us.html.erb
</p>

------------------------------------------------

<p>
    <%= @contact_us_message.message %>
</p>
